/***************************************************************************
Generic styles
****************************************************************************/
html {
  background-color: #fff;
  color: #006400;}

body {
  background-color: #fff;
  padding: 0px;
  margin: 0;
  display: flex;
  width: 100%;
  color: #333d47;
  font-family: 'PT Sans', sans-serif;
}

/****************************************************************************
Header/Nav Styles
****************************************************************************/
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;

}
ul.header {
  background-color: #333d40;
  padding: 0;
  position: absolute;
  top:0px;
  display: none;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #006400;
}

/****************************************************************************
Root / Container styles
*****************************************************************************/
#root {
  width:100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  height: 100%;
  text-align: left;
}

.main-content {
  width: 100%;
  color: #fff;
}

.tiles-container,
.image-container {
  position: inherit;
}

.text-content {
  width: 100%;
  min-height: 800px;
  background-image: url(https://images.pexels.com/photos/952356/pexels-photo-952356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: top right;
  display: flex;
}

.search-main-content {
  width: 100%;
  display: flex;
  background-size: cover;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  
}

.search-inner-content {
  width: 100%;
}

.search-form {
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-bottom: 100px;
}

.logo-container {
  margin-top: 100px;
  margin-left: 160px;
  display: flex;
  align-items: center;
}

.app-title {
  margin:5px 0px;
  font-size: 50px;
  font-weight: bolder;
} 

/***********************************************************************************
Search area Styles
************************************************************************************/
.search {
    display: flex;
    flex-direction: column;
}

.search-title {
  margin: 30px;
  color: #006400;
  font-size: 40px;
}

.search-input {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #006400;
  font-size: 30px;
}

.ing-refine,
.cal-refine {
  display: inline-flex;
  align-items: center;
}

.diet-refine {
  display: flex;
  flex-direction: column;
}

.diet-refine>p {
  margin: 0px;
}

.allergy-refine,
.diet-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 40%;
}

.ing-count,
.cal-count {
  height: 20px;
  width: 40px;
  margin: 10px;
  border: 1px solid #006400;
  border-radius: 5px;
}

.allergy-checkbox,
.diet-checkbox {
  display: flex;
  margin-right: 10px;
  margin-top: 2px;
  white-space: nowrap;
  align-items: center;
  border: 1px solid  #006400;
  border-radius: 5px;
  padding: 2px;
  color: #006400;
  background-color: white;
  text-transform: capitalize; 
}

.allergy-checkbox:hover,
.diet-checkbox:hover {
  color: white;
  background-color:  #006400;
}

.diet-title,
.allergy-title {
  width: 100%;
}

.clear-filter-checkbox {
  margin: 20px 0px; 
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  color: red;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
}

.clear-filter-checkbox:hover {
  background-color: red;
  color: white;

}

.refined-search {
  align-self: flex-end;
  padding: 2px;
}

.refined-search:hover {
  background-color: #006400;
  color: white;
}

.clear-search {
  display: flex;
  width: 40%;
  justify-content: space-between;

}

/********************************************************************************
Tile Styles
********************************************************************************/
.description {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.tiles-container {
  width: 1080px;
  margin: 0 auto;
  color: #333d47;
}

.tiles {
  list-style-type: none;
  padding: 0px;
}

.tiles-row {
  display: flex;
  flex-direction: row;
  width: 1030px;
  list-style-type: none;
  overflow-x: scroll;
  margin: 0 auto;
  padding: 0px;
}

.tile {
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.tile-image {
  height: 200px;
  width: 100%;
}

.tile-title {
  margin: 5px;
  padding: 5px;
}

.tile-nutrition {
  display: flex;
  border-top: 1px solid #333d47;
  border-bottom: 1px solid #333d47;
  padding: 5px 0px;
}

.tile-calories,
.tile-ingredients {
  display: flex;
  padding: 5px; 
}

.tile-calories {
  border-right: 1px solid #333d47;
}

.tile-calories > p,
.tile-ingredients > p {
  padding: 0px 5px;
  margin: 0px;
}

.tile-link {
 width: 100%;
 text-align: left;
 text-decoration: none;
 color: #fff;
 padding: 10px;
 margin-left: 20px;
}

#outside {
  color: #333d47;
}

.balance-heading,
.lowfat-heading,
.vegetarian-heading
 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 50px;
}

.balance-heading {
   background-image: url(https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.lowfat-heading {
  background-image: url(https://images.pexels.com/photos/46239/salmon-dish-food-meal-46239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.vegetarian-heading {
  background-image: url(https://images.pexels.com/photos/568370/pexels-photo-568370.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

.category-title {
  margin: 0px;
  margin-left: 50px;
}


/***************************************************************************************************
Search Result Styles
***************************************************************************************************/
.balanced,
.low-fat,
.vegetarian {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category {
  border: 2px solid white;
  background-color: #006400;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  width: 150px;
}

.refined-search {
  align-self: center;
  border-radius: 5px;
  padding: 20px;
  border: none;
  background-color: white;
  color: #fff;
  background-color: #006400;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 10px;
}

.refine-search-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.refine-search-section>p {
  margin: 0px;
}

.search-results {
  display: none;
  width: 100%;
}

.search-list {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
    list-style-type: none;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 100px;
    color: #fff;
}

.no-result {
  display: none;
  flex-direction:  column;
  width: 100%;
  text-align: center;
  font-size: 40px;
  justify-content: center;
}

.no-result>p{
  margin:2px;
  margin-bottom: 50px;
}

/*****************************************************************************************************
Icon Styles
*****************************************************************************************************/
.fa-google-plus-square,
.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  font-size: 40px;
  margin:10px;
}

.fa-frown {
  font-size: 100px;
}

.fas{
  font-size: 50px;
  margin-right: 20px;
}

.social {
  display: flex;
}

/*************************************************************************************************
Animation Styles
*************************************************************************************************/


.frog1 {
  color: green;
  margin: 5px;
  -webkit-animation: slidein 3s, jump 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@keyframes slidein {
  from {
 
    margin-left: 0%;
  }
  to {
    margin-left: 100%;

  }
}
@keyframes jump {
  from {
    transform: translateY(0px);
  }
  to { 
    transform: translateY(-20px);  
  }
}
.frog2 {
  color: yellow;
  margin: 5px;

  -webkit-animation: slidein 4s, jump 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@keyframes slidein {
  from {
 
    margin-left: 0%;
  }
  to {
    margin-left: 100%;

  }
}
@keyframes jump {
  from {
    transform: translateY(0px);
  }
  to { 
    transform: translateY(-20px);  
  }
}
.frog3 {
  color: orange;
  margin: 5px;

  -webkit-animation: slidein 5s, jump 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@keyframes slidein {
  from {
 
    margin-left: 0%;
  }
  to {
    margin-left: 100%;

  }
}
@keyframes jump {
  from {
    transform: translateY(0px);
  }
  to { 
    transform: translateY(-20px);  
  }
}

#frog-logo {
  animation-duration: 10s;
  animation-name: colormorph;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes colormorph {
  from {
    color:white;
  }
  to {
    color:green;
  }
}

/***********************************************************************************************
Footer Styles
***********************************************************************************************/
.footer {
  display: flex;
  width: 100%;
  background-color: #333d47;
}

.footer-inner {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-contact,
.footer-social  {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-social {}

.footer-container {
  width: 100%;
  display: flex;
  margin: 0px;

}
.footer-title {
  font-size: 20px;
}
